/*-------------
    RESET
--------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boxes {
    display: flex;
    /* flex-wrap: wrap; */
    border: 6px dashed lightblue;
    background: #ddd;
    height: 600px;
}

.box {
    width: 100px;
    height: 100px;
    background: lightpink;
    border: 1px solid coral;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
}

.box:first-child {
    order: 100;
}
.box:nth-child(2) {
    order: 1;
}